* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 87.5%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 53%;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

.success__message,
.error__message {
  font-size: 1.5rem;
  height: 3rem;
  width: 100%;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success__message {
  background-color: green;
}

.error__message {
  background-color: red;
}

.hidden {
  display: none;
}
