* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 87.5%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 53%;
  }
}

body {
  font-family: 'Inter', sans-serif;
}
